<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-med">
    <span class="heading-sec__main">About Me</span>
    <span class="heading-sec__sub">
      Here you will find more information about me, what I do, and my current skills mostly in terms of programming and
      technology.
    </span>
  </h2>
  <div class="about__content">
    <div class="about__content-main">
      <h3 class="about__content-title">Get to know me!</h3>
      <div class="about__content-details">
        <p class="about__content-details-para">
          I'm a <strong>Full-Stack Web Developer</strong> building the Front-end of Websites and Full stack Web
          Applications that leads to the success of the overall product. Check out some of my work in the
          <strong>Projects</strong> section.
        </p>
        <p class="about__content-details-para">
          I also like sharing content related to the stuff that I have learned over the years in <strong>Web
            Development</strong> so it can help other people of the Dev Community. Feel free to Connect or Follow me on
          my
          <a rel="noreferrer" href="https://www.linkedin.com/in/randil-g-dissanayake/" target="_blank">Linkedin</a> where I post useful content related to Web
          Development and Programming
        </p>
        <p class="about__content-details-para">
          I'm open to <strong>Job</strong> opportunities where I can contribute, learn and grow. If you have a good
          opportunity that matches my skills and experience then don't hesitate to <strong>contact</strong> me.
        </p>
      </div>
      <div class="btn">
        <button>
        <a href="https://www.linkedin.com/in/randil-g-dissanayake/" target="_blank">Contact</a>
      </button>
      </div>
    </div>
    <div class="about__content-skills">
      <h3 class="about__content-title">My Skills</h3>
      <div class="skills">
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/html.png" id="html"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/css.png" id="css"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/js.png" id="js"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/java.png"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/bootstrap.png" id="bootstrap">
        </div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/spring-boot.png"
            id="spring boot"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/angular.png" id="angular"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/github.png" id="github"></div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/TypeScript.png" id="TypeScript">
        </div>
        <div class="skills_icon"><img class="img-responsive" src="../../../assets/skils/sql.png" id="SQL"></div>
      </div>
    </div>
    <div class="about__content-education">
      <h3 class="about__content-title">Education</h3>
      <div class="about__content-details">

        <div class="edu">
          <div class="edu_icon"><img class="img-responsive" src="../../../assets/img/IMG_1968.png" width="80rem">
            <strong>Mawathagama Central Collage</strong> <br>GCE Ordinary Level (2017) <br> 2006 - 2017</div>

            <div class="edu_icon"><img class="img-responsive" src="../../../assets/img/DharmarajaCollege_crest.png">
              <strong>Dharmaraja Collage Kandy</strong> <br>GCE Advanced Level (2020) <br> 2017 - 2020</div>

              <div class="edu_icon"><img class="img-responsive" src="../../../assets/img/University_of_Moratuwa_logo.png">
                <strong>University of Moratuwa</strong> <br>B.Sc. (Hons) in Information Technology and
                Management <br> 2022 - Present</div>
        </div>
      </div>
    </div>
  </div>
</div>