<div class="container">
  <div class="home">
    <div class="text-content">
      <h1 class="name">Hey, <br>I'm Randil G Dissanayake</h1>
      <div class="info">
        <p>
          I am a passionate, enthusiastic, and skilled undergraduate committed to working smart to achieve goals and willing to take on any challenge. I am a responsible team player with solid and friendly leadership qualities and a good team spirit, capable of adapting and focusing on any productive targets.
        </p>
      </div>
      <div class="btn">
        <a href="https://www.google.com" target="_blank" rel="noopener noreferrer">
          <button mat-raised-button color="primary">Download CV</button>
        </a>
      </div>
    </div>
    <div class="profile_pic">
      <img
          src="../../../assets/img/Pp.png"
          alt="profile_pic"
          class="profile_pic"
          loading="lazy"
      />
    </div>
  </div>
</div>
