<div class="container">
  <h2 class="heading heading-sec heading-sec__mb-bg">
    <span class="heading-sec__main">Projects</span>
    <span class="heading-sec__sub">
      Here you will find some of the personal and clients projects that I created with each project containing its own
      live link.
    </span>
  </h2>

  <div class="projects__content">
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img src="../../../assets/img/Part Time Sri Lanka.jpg" alt="Software Screenshot" class="projects__row-img" loading="lazy" />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Part Time Job Offering Platform</h3>
        <p class="projects__row-content-desc">
          Developed the “Part-Time Job Handling Platform” to address the
          challenges in managing part-time jobs efficiently for both job
          seekers and employers.<br>
          Web application and a Mobile application built using Node.js,
          Express.js, React, React Native, Mysql
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img src="../../../assets/img/joefolio.jpeg" alt="Software Screenshot" class="projects__row-img"
          loading="lazy" />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Pet Bottle Recycling Machine</h3>
        <p class="projects__row-content-desc">
          An innovative machine that turns PET bottles into reusable
          fibers has been developed. It offers a user-friendly experience
          while reducing plastic pollution and promoting sustainable
          practices.<br>
          Utilized using C, Arduino Studio, EasyEDA, Blender.
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
    <div class="projects__row">
      <div class="projects__row-img-cont">
        <img src="../../../assets/img/Screenshot (67).png" alt="Software Screenshot" class="projects__row-img" loading="lazy" />
      </div>
      <div class="projects__row-content">
        <h3 class="projects__row-content-title">Personal Portfolio</h3>
        <p class="projects__row-content-desc">
          I developed a personal portfolio. This project showcases my skills
          and experience through an interactive and responsive design,
          featuring sections for my work, skills, and contact information.<br>
          Utilized using Angular
        </p>
        <div class="btn">
          <button mat-raised-button>Live Link</button>
        </div>
      </div>
    </div>
  </div>
</div>